/* Pretty PDF Viewer Styles */

.pretty-pdf-viewer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #f0f0f0;
}

.pretty-pdf-viewer canvas {
  display: block;
  width: 100%;
  height: 100%;
}
